/*
 * General styles
 */

html {
  /* default font-size is 16px, 62.5% of 16 is 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $fontmain;
  color: $color-primary;
  font-size: 1.8rem;
  background: linear-gradient(105.03deg, #CDF4F7 13.37%, rgba(209, 201, 241, 0.54) 83.17%), url(../assets/images/main-bg.svg);
  backdrop-filter: blur(5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

h1, h2 {
  font-family: $font-secondary;
  font-weight: 600;
  color: $color-primary;
  line-height: $lh;
}

h1 {
  font-size: 6rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  letter-spacing: 1px;
}

p {
  margin: 0;
}

iframe {
  display: none !important;
}