.manager {
  &__add {
    padding: 0 2.4rem;
    text-align: right;
  }

  &__table {
    &-container {
      padding: 3.2rem 2.4rem;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      .btn {
        img {
          width: 2.4rem !important;
          height: 2.4rem !important; 
        }
      }
    }
  }
}