.manager {
  &__add {
    padding: 0 24px;
    text-align: right;
  }

  &__table {
    &-container {
      padding: 32px 24px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 16px;

      .btn {
        img {
          width: 24px !important;
          height: 24px !important; 
        }
      }
    }
  }
}