@import "../../styles/common.scss";

.input {
  width: 100%;
  outline: none;
  border: 2px solid $color-primary;
  border-radius: 3.2rem;
  padding: 1.6rem 2.4rem 1.6rem 6.4rem;
  font-family: $fontmain;
  font-size: $base-size;
  color: $color-primary;
  box-shadow: 0 10px 24px -8px rgba(5, 16, 52, 0.4);

  &--indent {
    padding: 1.6rem 2.4rem;
  }

  &__label {
    display: block;
    margin-bottom: 1.6rem;
  }

  &__wrapper {
    position: relative;
  }

  &__icons {
    width: auto;
    height: auto;
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    position: absolute;

    &.prefix {
      top: 1.6rem;
      left: 2.4rem;
    }

    &.postfix {
      width: 3.6rem;
      height: 3.6rem;
      position: relative;
      background: linear-gradient(107.37deg, rgba(185, 251, 255, 0.4) 3.3%, #D1C9F1 74.31%);
      background-blend-mode: overlay, normal;
      box-shadow: 0 1px 24px -8px rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(4px);
      border-radius: 2.4rem;
      cursor: pointer;
    }

    &__wrapper {
      width: auto;
      height: auto;
      position: relative;
      z-index: 2;

      &::after {
        width: 20%;
        height: 10%;
        content: '';
        position: absolute;
        z-index: -1;
        background-color: $color-secondary;
        bottom: 1px;
        left: 50%;
        transform: translate(-50%);
        transition: all 0.5s ease-in-out;
        border-radius: 3.2rem;
      }

      &:hover {
        &::after {
          width: 80%;
          height: 60%;
        }
      }
    }
  }

  &--required {
    color: $color-red;
    margin-left: 8px;
  }

  &__error {
    margin-top: 8px;
    color: $color-red;
  }

  &__forgot {
    display: inline-block;
    margin-top: 1.6rem;
    color: $color-primary;
  }
}