@import "../../styles/common.scss";

.auth {
  &__background {
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/auth-bg.png') no-repeat center center, linear-gradient(103.65deg, $color-primary 15.18%, #0A1B50 48.14%, #1E3784 80.43%, $color-secondary 99.53%);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &-video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  &__border {
    background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 34%, rgba(101,126,212,1) 65%, rgba(101,126,212,1) 100%);
    padding: 1px;
    border-radius: 24px;
  }

  &__container {
    width: 832px;
    height: auto;
    background: linear-gradient(107.37deg, rgba(185, 251, 255, 0.4) 3.3%, #D1C9F1 74.31%);
    background-blend-mode: overlay, normal;
    box-shadow: 0 1px 24px -8px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 96px 40px;
  }

  &__content {
    width: 100%;

    &-icon {
      display: block;
      margin: 0 auto;
    }

    &-header {
      margin-bottom: 48px;
      text-align: center;
    }

    &-inputs {
      width: 100%;
      display: flex;
      gap: 40px;
      padding-bottom: 40px;
      flex-direction: column;
    }
  }

  &__separator {
    margin-top: 48px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &-line {
      background-color: $color-secondary;
      height: 2px;
      width: 35%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}